* {

}

.login_enter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    position: absolute;
}

.background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    position: relative;
    /*position: absolute;*/
    /*min-width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.form_task {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form_question {
    position: absolute;
    left: 69vw;
}

.list_button {
    position: absolute;
    left: 20vw;
    top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #c26de3;*/
    width: 8vw;
    height: 5vh;

    z-index: 200;
}

.list_button button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8vh;
    right: 6vw;
    width: 5vw;
    height: 3vh;
    color: #111;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1em;
    /*background: #45f3ff;*/
    background: #3c567c;
    border-radius: 5px;
    color: #a9adb6;
    cursor: pointer;
    transition: 0.5s;
}

.list_button button:hover {
    box-shadow: 0 0 10px #3c567c, 0 0 60px #45f3ff;
    color: white;
}

.list_background {
    position: absolute;
    width: 25vw;
    height: 76vh;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    right: 63vw;
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out;
}

.list_background.shifted {
    transform: translateX(12.7vw);
    /*z-index: -1;*/
}

.list_background.unshifted {
    transform: translateX(0);


}

.form_list {
    /*position: absolute;*/
    /*right: -60vw;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*border: 1px solid #8ee36d;*/
    max-height: 63vh;
    max-width: 100%;
    /*width: 30vw;*/
    /*right: 63.5vw;*/
    padding-right: 2vw;
    /*padding-left: 2vw;*/
    overflow-y: auto;
    overflow-x: auto;
    -webkit-scrollbar: none;
    scrollbar-width: none;
    transition: transform 0.3s ease-in-out;
}

.form_list.shifted {
    transform: translateX(12.7vw);
    filter: blur(7px);
}

.form_list.unshifted {
    transform: translateX(0);
}
