* {

}

.login_enter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    position: absolute;
}

.background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    position: relative;
    /*position: absolute;*/
    /*min-width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.form_task {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_question {
    position: absolute;
    left: 69vw;
}
