@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:wght@700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #000000;
    /*background: url("public/parallax/images/window_final.png") no-repeat center center;*/
    /*background: #23242a;*/
    /*background: #0e0e0e;*/

}

.windowpic {
    position: absolute;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh;
    width: 100vw;
    background: url("../../../public/parallax/images/window_final_2.png") no-repeat center center;
}

.numbers {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background: url("public/parallax/images/window_final.png") no-repeat center center;*/
}

.numbers span {
    position: relative;
    font-size: 3em;
    font-weight: 900;
    /*color: rgba(255, 255, 255, 0.05);*/
    /*color: rgba(35, 36, 42, 0.05);*/
    color: transparent;
    line-height: 0.9em;
    transition: 1s;
    user-select: none;
}

.numbers span:hover {
    transition: 0s;
    color: #fff;
    text-shadow: 0 0 10px #0f0,
    0 0 20px #0f0,
    0 0 40px #0f0,
    0 0 80px #0f0,
    0 0 160px #0f0;
    z-index: 10;
}

.exit_button {
    position: absolute;
    top: 8vh;
    right: 6vw;
    width: 10vw;
    color: #111;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1em;
    background: #45f3ff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.exit_button:hover {
    box-shadow: 0 0 10px #45f3ff, 0 0 60px #45f3ff;
}
